:root {
  --color-black: #000;
  --color-grey-black: #333;
  --color-white: #fff;
  --btn-bg-warm-brown: #756257;
  --btn-bg-active-natural-green: #7db54f;
  --btn-bg-cold-blue: #83b3d3;
  --size-nav-menu: 20px;
  --size-cards-descriptions: 21px;
  --size-cards-title: 24px;
  --size-form-list: 18px;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

body {
  min-height: 100%;
  color: var(--color-grey-black);
  font-family: "PTSans";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

/* general styles */
.visually-hidden {
  display: none;
}

.header,
.main,
.footer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  background-color: #e5e5e5;
}

.header_wrap,
.main_wrap,
.footer_wrap {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}

/* header */
.header_container_wrap {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 14px;
  align-items: center;
}

.header_list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.header_item {
  margin-right: 33px;
  padding-bottom: 20px;
}

.header_item:hover {
  border-bottom: 2px solid var(--btn-bg-warm-brown);
  padding-bottom: 18px;
}

.header_list-link {
  text-decoration: none;
  color: var(--color-black);
  font-size: var(--size-nav-menu);
  line-height: 26px;
  font-weight: 700;
}

.header_logo {
  position: absolute;
  top: 0;
  left: 44%;
  z-index: 2;
}

.header_btn_group {
  display: flex;
  align-items: center;
}

.header_btn {
  margin-right: 21px;
}

.btn_count-likes {
  position: relative;
}

.count_likes {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--btn-bg-active-natural-green);
  text-decoration: none;
  position: absolute;
  bottom: 12px;
  left: 12px;
  width: 19px;
  height: 19px;
  font-size: 10px;
  color: #fff;
}

.header_btn-join {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-white);
  text-transform: uppercase;
  width: 160px;
  height: 37px;
  padding: 9px 0 10px;
  margin-bottom: 14px;
  background-color: var(--btn-bg-warm-brown);
  text-decoration: none;
  border-radius: 4px;
  box-sizing: border-box;
}

/* main screen */
.screen {
  background: url("../img/main-page/index-background.jpg");
  width: 100%;
  height: 485px;
}

.presentation_title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: var(--color-black);
  text-transform: uppercase;
  padding-top: 63px;
  margin: 0;
}

.presentation_description {
  font-size: 22px;
  line-height: 36px;
  padding: 23px 0 79px;
  margin: 0;
}

.presentation_town_card {
  width: 100%;
  display: flex;
}

.presentation_card_wrap {
  background-color: var(--btn-bg-cold-blue);
  width: 400px;
}

.presentation_card_service {
  display: flex;
}

.presentation_card_service_house,
.presentation_card_service_gift {
  background-color: rgba(131, 179, 211, 0.12);
}

.presentation_card_service_house,
.presentation_card_service_gift,
.presentation_card_service_food {
  width: 400px;
}

.presentation_card_service_img {
  padding-top: 89px;
}

.cards_devils_bridge {
  display: flex;
}

.presentation_subtitle {
  font-size: var(--size-cards-title);
  line-height: 28px;
  color: var(--color-white);
  text-transform: uppercase;
  margin: 0;
  padding: 98px 110px 0;
}

.presentation_serial_number {
  margin: 0;
  padding-top: 25px;
}

.presentation_serial_number-color {
  color: var(--color-white);
}

.cards_small_area {
  display: flex;
}

.presentation_card_service_small_area,
.presentation_card_service_few_tourists {
  background-color: rgba(131, 179, 211, 0.12);
}

.presentation_card_service_beatiful_road {
  background-color: rgba(131, 179, 211, 0.2);
}

.presentation_card_service_small_area,
.presentation_card_service_few_tourists,
.presentation_card_service_beatiful_road {
  width: 400px;
}

.presentation_card_service_subtitle {
  padding: 98px 125px 0;
  margin: 0;
  text-transform: uppercase;
}

.presentation_card_service_subtitle-height {
  padding-top: 23px;
}

.presentation_card_service_description {
  padding: 26px 0 130px;
  margin: 0;
}

.presentation_card_service_description-height {
  padding-bottom: 79px;
}

.presentation_card_description {
  font-size: 18px;
  text-align: center;
  color: var(--color-white);
  margin: 0;
  padding: 26px 90px 0;
}

.select_hotel {
  padding: 91px 0;
}

.select_hotel_subtitle {
  color: var(--color-black);
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.select_hotel_description {
  font-size: 22px;
  line-height: 26px;
  padding-top: 15px;
  margin: 0;
}

.select_hotel_btn {
  background-color: var(--btn-bg-warm-brown);
  color: var(--color-white);
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 65px auto 0;
  padding: 13px 0 17px;
  display: block;
  border-radius: 10px;
  max-width: 575px;
  text-decoration: none;
}

.subscription_subtitle {
  color: var(--color-white);
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 94px;
  margin: 0;
}

.subscription_description {
  color: var(--color-white);
  font-size: 22px;
  line-height: 26px;
  padding-top: 40px;
  margin: 0;
}

.subscription_description-catalog {
  color: #333;
}

.subscription {
  background-image: url("../img/main-page/bg-contacts.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

.subscription_form {
  display: flex;
  width: 800px;
  height: 60px;
  margin: 0 auto;
  padding: 50px 0 94px;
}

.subscription_input {
  width: 600px;
  border: transparent;
  border-radius: 10px 0 0 10px;
}

.subscription_input-catalog {
  background-color: #f2f2f2;
}

.subscription_input::placeholder {
  color: #0000008a;
  padding: 0 19px 0 22px;
}

.subscription_submit {
  color: var(--color-white);
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--btn-bg-cold-blue);
  width: 200px;
  border: transparent;
  border-radius: 0 10px 10px 0;
}

.footer_contacts {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 30px;
}

.footer_social_networks_list {
  display: flex;
}

.footer_social_networks_item {
  margin-right: 30px;
  display: flex;
  align-items: center;
}

.footer_phone_number {
  font-size: 40px;
  line-height: 40px;
  color: var(--color-black);
  display: flex;
  align-items: center;
}

.footer_htmlacademy_link {
  display: flex;
  align-items: center;
}

/* catalog style */
/* --------------------------------------------------------------- */
.container_wrap {
  width: 1056px;
  margin: 0 auto;
}

.search_parametrs {
  background-image: url("../img/catalog-page/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 34px 0 86px;
}

.search_parametrs_wrap_navigation {
  padding-bottom: 45px;
}

.search_parametrs_title {
  font-size: 60px;
  line-height: 78px;
  color: var(--color-white);
  font-weight: 700;
  text-align: left;
  margin: 0;
}

.breadcrumbs {
  text-align: left;
  display: flex;
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumbs_item {
  margin-right: 10px;
}

.breadcrumbs_current_page {
  font-size: 16px;
  color: var(--color-white);
}

.filter_parametrs_catalog_form {
  display: flex;
  justify-content: space-between;
}

.filter_parametrs_catalog_subtitle {
  font-size: var(--size-nav-menu);
  line-height: 26px;
  color: var(--color-white);
  font-weight: 700;
  text-align: left;
  margin: 0;
  padding-bottom: 30px;
}

.filter_parametrs_cost_wrap {
  width: 287px;
}

.filter_parametrs_input_cost {
  width: 143px;
  background: transparent;
  border: 2px solid #fff;
  padding: 0;
  border-radius: 2px;
  margin: 0;
  height: 44px;
}

.filter_parametrs_input_cost-from {
  position: relative;
}

.cost_from_to {
  position: absolute;
  top: 11px;
  right: 14px;
}

.filter_parametrs_input_cost-to {
  position: relative;
}

.filter_parametrs_list {
  text-align: left;
  padding: 0;
  margin: 0;
}

.filter_parametrs_item {
  font-size: var(--size-form-list);
  line-height: 23px;
  list-style: none;
  padding: 0;
}

.filter_parametrs_label {
  padding-left: 19px;
}

.cost_from,
.cost_to {
  font-size: var(--size-form-list);
  line-height: 23px;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
}

.filter_parametrs_inputs_wrap {
  display: flex;
}

.filter_parametrs_btn_group {
  display: flex;
  flex-direction: column;
  margin-top: 57px;
}

.filter_parametrs_apply {
  background: var(--btn-bg-cold-blue);
  color: var(--color-white);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  padding: 15px 0;
  border-radius: 4px;
  border: transparent;
  width: 160px;
}

.filter_parametrs_reset {
  color: var(--color-white);
  line-height: 23px;
  border: transparent;
  background-color: transparent;
  margin-top: 20px;
}

.search_filter_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 45px;
}

.search_results_subtitle {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: var(--color-black);
  text-transform: uppercase;
  text-align: left;
  margin: 0;
}

.search_results_select {
  line-height: 23px;
}

.search_results_sort_table,
.search_results_sort_slideshow,
.search_results_sort_list {
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  background-color: transparent;
  padding: 17px 16px;
}

.search_results_sort_table:hover,
.search_results_sort_slideshow:hover,
.search_results_sort_list:hover {
  border: 2px solid var(--color-black);
}

.product-card-link {
  font-weight: 700;
  font-size: var(--size-cards-title);
  line-height: 31px;
  color: var(--color-black);
  text-align: left;
}

.type_of_house_wrap {
  display: flex;
  justify-content: space-between;
}

.type_of_house,
.sort_list_price {
  line-height: 23px;
}

.sort_list {
  padding: 0;
}

.sort_list:first-of-type {
  border-top: 1px solid #e6e6e6;
}

.sort_list_card {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  padding: 31px 0 30px;
}

.sort_list_description {
  display: flex;
}

.product_card_wrap {
  margin-left: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product_card_title {
  margin: 0;
  text-align: left;
  padding-bottom: 5px;
}

.product_card_link {
  text-decoration: none;
  color: #000;
}

.sort_list_details,
.sort_list_favorite {
  width: 151px;
  padding: 9px 0 10px;
  border-radius: 4px;
  border: transparent;
  margin-right: 8px;
}

.sort_list_details,
.sort_list_favorite,
.sort_list_show_more {
  background: var(--btn-bg-warm-brown);
  color: var(--color-white);
  font-weight: 700;
  text-transform: uppercase;
}

.sort_list_favorite {
  background: var(--btn-bg-cold-blue);
}

.sort_list_favorite-add {
  background-color: var(--btn-bg-active-natural-green);
}

.sort_list_rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sort_list_total_rating {
  text-transform: uppercase;
  width: 160px;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 9px 0 10px;
  margin: 0;
}

.sort_list_card-show_more {
  display: block;
  margin: 31px 0 30px;
}

.sort_list_show_more {
  background: var(--btn-bg-cold-blue);
  font-size: 20px;
  line-height: 26px;
  width: 625px;
  padding: 12px 0 13px;
  border-radius: 4px;
  border: transparent;
}

.sort_list_stars {
  display: flex;
  list-style: none;
}

.star {
  width: 18px;
  height: 17px;
  background-image: url("../img/catalog-page/star.svg");
  padding-left: 7px;
  background-repeat: no-repeat;
}

.pagination_wrap {
  display: flex;
  justify-content: space-between;
}

.pagination_item {
  font-size: 20px;
  line-height: 26px;
}

.pagination_button {
  color: var(--color-white);
  font-size: inherit;
  background-color: var(--btn-bg-cold-blue);
  font-weight: 700;
}

.display_number_hotels,
.display_number_hotels_select {
  line-height: 23px;
  text-align: left;
}

.pagination {
  display: flex;
  list-style-type: none;
}

.pagination_item {
  width: 55px;
  height: 55px;
  background-color: var(--btn-bg-cold-blue);
  border-radius: 4px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination_button {
  text-decoration: none;
}

.pagination_button-current {
  background: #f2f2f2;
  color: var(--color-black);
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display_number_hotel_wrap {
  display: flex;
}

.subscription_subtitle-catalog {
  color: var(--color-black);
}

.footer_social_networks_list {
  list-style: none;
  padding: 0;
}
