body {
  display: flex;
}

.flex1,
.flex2,
.flex3,
.flex4 {
  width: 300px;
  height: 350px;
  margin: 0 auto;
}

.flex1 {
  background: yellow;
  display: flex;
  justify-content: space-between;
}

.flex2 {
  background: red;
}

.flex3 {
  background: green;
}

.flex4 {
  background: yellow;
}

p {
  margin: 0;
  padding: 0;
}

.likes {
  background: green;
  width: 150px;
  margin: 0 auto;
}
